doctype html

html(lang="ru")
  head
    title Holistic SMM Agency

    link(rel='stylesheet', href='../styles.css')
    
    include snippets/font-perf.html

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="blah blah")

  body
    div#wrapper
      header#header
        div.inner
          div.logo
            span.symbol
              img(src='../assets/logo.svg', alt='Holistic SMM Agency')
            span.title Holistic SMM Agency
      div#main
        div.inner
          header
            h1 Это холистическое СММ-агенство.<br />Мы просто делаем хороший контент.
            p Наши каналы направлены на свободное распространение знаний. Содержать их позволяет <a href="https://t.me/mashagoroshik">размещение рекламы</a> и <a href="https://www.patreon.com/holistic">поддержка патронов</a>.
          section.tiles
            article.style1
              span.image
                img(src="../assets/python-textbooks.jpg", alt="Python Textbooks")
              a(href="https://t.me/python_textbooks")
                h2 Python Textbooks
                div.content
                  p
                    | Книги
                    br
                    | @python_textbooks
                    br
                    | 16k подписчиков
            article.style2
              span.image
                img(src="../assets/code-for.jpg", alt="kamyshev.code")
              a(href="https://t.me/code_for")
                h2 kamyshev.code
                div.content
                  p
                    | Aрхитектура ПО и софт‑скиллы
                    br
                    | @code_for
                    br
                    | 3k подписчиков
            article.style3
              span.image
                img(src="../assets/deep-js.jpg", alt="Глубокий JS")
              a(href="https://t.me/deep_js")
                h2 Глубокий JS
                div.content
                  p
                    | Тонкости JS
                    br
                    | @deep_js
                    br
                    | 1k подписчиков
            article.style4
              span.image
                img(src="../assets/frontend-textbooks.jpg", alt="Frontend Textbooks")
              a(href="https://t.me/frontend_textbooks")
                h2 Frontend Textbooks
                div.content
                  p
                    | Книги
                    br
                    | @frontend_textbooks
                    br
                    | 4k подписчиков
            article.style5
              span.image
                img(src="../assets/ds-notes.jpg", alt="Data Science Notes")
              a(href="https://t.me/ds_notes")
                h2 Data Science Notes
                div.content
                  p
                    | Книги, статьи, видео-курсы
                    br
                    | @ds_notes
                    br
                    | 4k подписчиков
      
      footer#footer
        div.inner
          ul.copyright
            li Holistic SMM Agency
            li Development: <a href="https://kamyshev.me">Igor Kamyshev</a>
            li Design: <a href="https://html5up.net">HTML5 UP</a>
